.bg-ightRed{
    background-color: #ef4444 ;
}

.text-LightRed{
    color: "#ef4444";
}

.bg-Red{
    background-color: #dc2626;
}

.text-Red{
    color: #dc2626;
}

.bg-DarkRed{
    background-color: #b91c1c;
}

.text-DarkRed{
    color: #b91c1c;
}

.bg-Yellow{
    background-color: #fbbf24;
}
.text-Yellow{
    color: #fbbf24;
}

.bg-Lime{
    background-color: #01ff70;
}
.text-Lime{
    color: #84cc16;
}

.bg-Gold{
    background-color: #eab308;
}
.text-Gold{
    color: #eab308;
}

.bg-Green{
    background-color: #22c55e;
}
.text-Green{
    color: #22c55e;
}

.bg-Blue{
    background-color: #3b82f6;
}
.text-Blue{
    color: #3b82f6;
}


.bg-Purple{
    background-color: #a855f7;
}
.text-Purple{
    color: #a855f7;
}

.bg-Pink{
    background-color: #ec4899;
}
.text-Pink{
    color: #ec4899;
}

.bg-Rose{
    background-color: #f43f5e;
}
.text-Rose{
    color: #f43f5e;
}
